<h1>Artists</h1>
<h2><%= @artist.name %></h2>
<%= link_to 'View Artist', top_artists_path(@artist) %>
<%= link_to 'Edit Artist', edit_top_artist_path(@artist) %>
<%= link_to 'Delete Artist', @artist, method: :delete %>

