<h1><%= @top.name %></h1>


<br />
<br />
<%= link_to 'Edit Top Chart', edit_top_path(@top) %>

<br />
<br />
<%= link_to 'Delete Top Chart', @top, method: :delete %>

<br />
<br />
<%= link_to 'Back to Main Page', root_path %>


