<h1>Song</h1>

<h2><%= @song.title %></h2> <br />


<%= link_to 'Edit Song', edit_artist_song_path(@song), class: "ui violet basic button" %> 
<%= link_to 'Delete Song', artist_song_path, method: :delete, class: "ui violet basic button"  %> 
<%= link_to 'View Songs', artist_songs_path(@artist), class: "ui violet basic button"  %>

